# Python cache
__pycache__/
*.py[cod]

# Virtual environments only
venv/
env/
.venv/
yoloenv/
labelenv/
label_env/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
$null